<div class="lg:w-[740px] mx-auto">
  <h1 class="text-3xl font-extrabold">{{ 'subscriptions.title' | transloco }}</h1>

  @if (items().length > 0) {
    <main class="mt-10 space-y-10">
      @for (item of items(); track item) {
        @switch (item.type) {
          @case ('channel') {
            <app-channel [channel]="item.channel"/>
          }
          @case ('topic') {
            <app-topic [topic]="item.topic"/>
          }
        }
      }
    </main>
  } @else {
    <div class="text-sm text-center my-20">{{ 'subscriptions.thereAreNoSubscriptions' | transloco }}.</div>
  }

  @if (pagination().totalPages > 1) {
    <div class="w-3/12 mx-auto">
      <ngs-paginator route="/topics/page"
                     [totalItems]="pagination().totalItems"
                     [pageSize]="pagination().pageSize"
                     [pageNumber]="pageNumber"
                     (pageChanged)="onPageChanged($event)"/>
    </div>
  }
</div>
