Dockerfile
.dockerignore
node_modules
npm-debug.log
dist
.vscode
.editorconfig
.gitignore
/.vscode/*
/e2e
api/node_modules
api/dist
app/node_modules
app/dist
.git
app/.angular
.angular
.idea
tmp
coverage
