ENV=production
COMPOSE_FILE=docker-compose.yml
# DEV MODE
# COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml
JWT_SECRET=secret
REDIS_PASSWORD=password
REDIS_URL=redis://default:password@redis:6379
LOCALE=en
CERT_MAIL=cert@example.com
POSTGRES_DB=circlo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://postgres:password@database:5432/circlo
DOMAIN=example.com
CAP_ADMIN_KEY=
