<div class="rounded-xl bg-surface-container-low p-5 pb-6">
  <div class="font-bold text-sm">{{ widget().name }}</div>
  @if (widget().data.length > 0) {
    <div class="mt-5 space-y-5">
      @for (publication of widget().data; track publication) {
        <div>
          <div class="flex items-center gap-2">
            <ngs-dicebear [key]="publication.channel.id"
                          [image]="publication.channel.logoUrl | imageProxy: '100x100,sc,q90'"
                          class="size-6"/>
            <a [routerLink]="['/channel', publication.channel.slug]"
               class="text-tiny font-medium hover:underline underline-offset-1">{{ publication.channel.name }}</a>
          </div>
          <div class="mt-2">
            <a [routerLink]="['/publication', publication.slug]" class="text-sm font-medium  hover:text-primary">
              {{ publication.title }}
            </a>
          </div>
        </div>
      }
    </div>
    <div class="mt-4 -mb-2">
      <a routerLink="/staff-picks"
         class="text-xs text-primary hover:underline underline-offset-1">See the full list</a>
    </div>
  } @else {
    <div class="text-xs mt-5">There are no staff pics yet.</div>
  }
</div>
