@if (uploading()) {
  <div class="upload-container">
    <div class="upload-overlay">
      <ngs-progress-bar mode="indeterminate" class="progress-bar"/>
      <div class="remove-button">
        <button ngsButton (click)="cancelUploading()">
          <ngs-icon name="fluent:delete-24-regular"/>
        </button>
      </div>
      <div class="upload-overlay-text">Loading...</div>
    </div>
    <img [src]="selectedImage()" [alt]="block().data.alt">
  </div>
} @else if (block().data.src) {
  <div class="uploaded-image">
    <ngs-image-resizer (imageResized)="_onImageResized($event)" [imageMaxWidth]="928">
      <img [src]="block().data.src" [alt]="block().data.alt" ngsImageResizerImage
           [attr.width]="block().data.width || null" [height]="block().data.height || null">
    </ngs-image-resizer>
  </div>
} @else {
  <ngs-upload-area #uploadArea="ngsUploadArea"
                   ngsUploadTrigger accept="image/*"
                   multiple="false"
                   (fileSelected)="onFileSelected($event)"
                   class="upload-area h-[105px]">
    <ng-container ngsUploadAreaMainState>
      Drag & drop <button class="text-primary cursor-pointer">or choose image</button> to upload
    </ng-container>
    <ng-container ngsUploadAreaDropState>
      Drop image here
    </ng-container>
    <ng-container ngsUploadAreaInvalidState>
      Invalid file to drop, images accept only.
    </ng-container>
  </ngs-upload-area>
}
