@if (loaded()) {
  <div #scrollContainer class="absolute inset-0 editor-scrollable-element">
    <div class="md:w-[780px] mx-auto pt-10 pb-2" [formGroup]="form">
      <div>
        @if (publication()!.featuredImageUrl) {
          <div class="bg-surface-container-low mb-10 overflow-hidden rounded-2xl relative flex
                        items-center justify-center p-4 min-h-20">
            <div class="absolute end-3 top-3">
              @if (featuredImageUploading()) {
                <div class="text-xs bg-neutral-950 text-white rounded-full
                                  py-2 px-4 border-2 border-white">{{ 'uploading' | transloco }}...</div>
              } @else {
                <button ngsButton="tonal" (click)="deleteFeaturedImage()">
                  <ngs-icon name="fluent:delete-24-regular"/>
                  {{ 'delete' | transloco }}
                </button>
              }
            </div>
            <img [src]="publication()!.featuredImageUrl | imageProxy:'x500'" alt="" class="max-w-full">
          </div>
        } @else {
          <ngs-upload-area ngsUploadTrigger accept="image/*" multiple="false" (fileSelected)="imageSelected($event)"
                           class="bg-surface-container-lowest hover:bg-surface-container rounded-2xl h-14
                                    flex items-center justify-center cursor-pointer mb-10">
            <div class="text-xs text-neutral-500">Select or drop an image here</div>
          </ngs-upload-area>
        }
        <textarea formControlName="title"
                  [placeholder]="'title' | transloco"
                  ngsTextareaAutoSize
                  class="text-4xl leading-relaxed w-full outline-0 placeholder:text-neutral-400
                                 overflow-hidden resize-none font-bold bg-transparent"></textarea>
        </div>
    </div>
    <ngs-content-builder [content]="blocksContent()"
                         [options]="options()"
                         (contentChanged)="onContentChanged($event)"/>
  </div>
} @else {
  <div class="p-12">Loading...</div>
}
