@if (loaded()) {
  <ngs-panel>
    <ngs-panel-header class="h-16 ps-16 pe-6 lg:px-6 border-b border-b-border">
      <div class="flex h-full items-center justify-between">
        <h1 class="font-bold">{{ 'admin.settings.identity-heading' | transloco }}</h1>
        <button ngsButton="filled" (click)="save()">{{ 'common.save' | transloco }}</button>
      </div>
    </ngs-panel-header>
    <ngs-panel-content>
      <ngs-scrollbar-area>
        <div class="p-12">
          <div [formGroup]="form" class="xl:w-8/12 mb-7">
            <div class="flex items-center justify-between gap-14 text-sm mb-7">
              <div>
                <div>{{ 'admin.settings.identity.publicCommunity' | transloco }}</div>
              </div>
              <ngs-slide-toggle formControlName="isPublicCommunity"/>
            </div>
            <div class="flex items-center justify-between gap-14 text-sm mb-7">
              <div>
                <div>{{ 'admin.settings.identity.registrationEnabled' | transloco }}</div>
              </div>
              <ngs-slide-toggle formControlName="registrationEnabled"/>
            </div>
            <div class="flex items-center justify-between gap-14 text-sm mb-10">
              <div>
                <div>{{ 'admin.settings.identity.oauthEnabled' | transloco }}</div>
              </div>
              <ngs-slide-toggle formControlName="oAuthEnabled"/>
            </div>
          </div>

          @if (form.get('oAuthEnabled').value) {
            <div class="mt-10 border-t border-t-border pt-10">
              <h2 class="text-lg font-bold mb-4">{{ 'admin.settings.auth-providers-heading' | transloco }}</h2>
              <p class="text-sm text-neutral-600 mb-6">{{ 'admin.settings.oauth.description' | transloco }}</p>
              <div cdkDropList cdkDropListOrientation="mixed"
                   (cdkDropListDropped)="drop($event)" class="flex gap-6 flex-wrap">
                @for (item of oAuthProviders(); track item.type) {
                  <ngs-card cdkDrag
                            class="rounded-2xl w-full xl:w-60 [&.is-default]:outline-3 [&.is-default]:outline-primary"
                            [class.is-default]="item.isDefault">
                    <ngs-card-title>
                      <div class="pt-3 flex items-center gap-2 px-4">
                        <button ngsIconButton class="cursor-move" cdkDragHandle>
                          <ngs-icon name="fluent:re-order-dots-vertical-24-regular"/>
                        </button>
                        {{ item.name }}
                      </div>
                    </ngs-card-title>
                    <ngs-card-content>
                      <div class="flex pt-3 flex-col gap-2 text-sm w-full">
                        <div>
                          <span class="text-neutral-500">{{ 'admin.settings.ads.configured' | transloco }}:</span>
                          <span class="ml-1">@if (item.isConfigured) {
                            {{ 'common.yes' | transloco }}
                          } @else {
                            {{ 'common.no' | transloco }}
                          }</span>
                        </div>
                        <div>
                          <span class="text-neutral-500">{{ 'captchaProvider.isEnabled' | transloco }}:</span>
                          <span class="ml-1">@if (item.isEnabled) {
                            {{ 'common.yes' | transloco }}
                          } @else {
                            {{ 'common.no' | transloco }}
                          }</span>
                        </div>
                      </div>
                    </ngs-card-content>
                    <ngs-card-actions>
                      <div class="flex gap-2 pt-2 pb-1.5 px-2 w-full">
                        <button ngsButton="outlined" (click)="configure(item, $event)"
                                class="w-full">{{ 'settings' | transloco }}
                        </button>
                      </div>
                    </ngs-card-actions>
                  </ngs-card>
                }
              </div>
            </div>
          }
        </div>
      </ngs-scrollbar-area>
    </ngs-panel-content>
  </ngs-panel>
} @else {
  <div class="p-6 xl:p-12">{{ 'common.loading' | transloco }}</div>
}
