<ngs-card class="h-full">
  <ngs-card-header>
    <ngs-card-title>{{ 'admin.dashboard.widgets.latestPublications.title' | transloco }}</ngs-card-title>
  </ngs-card-header>
  <ngs-card-content>
    @if (publications().length > 0) {
      <div class="h-full relative">
        <ngs-scrollbar-area>
          <div class="flex flex-col gap-5">
            @for (publication of publications(); track publication.id) {
              <div class="flex items-center gap-3">
                <a [routerLink]="['/studio/publications/edit', publication.hash]" class="link">{{ publication.title }}</a>
                @if (publication.status.type === 'published') {
                  <div class="h-6 w-max flex items-center px-2.5 rounded-full bg-primary
                font-medium text-on-primary text-xs">{{ publication.status.name | transloco }}</div>
                } @else if (publication.status.type === 'draft') {
                  <div class="h-6 w-max flex items-center px-2.5 rounded-full border border-border
                font-medium text-xs">{{ publication.status.name | transloco }}</div>
                } @else if (publication.status.type === 'unpublishedChanges') {
                  <div class="h-6 w-max flex items-center px-2.5 rounded-full bg-amber-300
                font-medium text-xs text-amber-950">{{ publication.status.name | transloco }}</div>
                }
              </div>
            }
          </div>
        </ngs-scrollbar-area>
      </div>
    } @else {
      <div class="h-full flex items-center flex-col justify-center gap-2">
        <ngs-icon name="fluent:document-text-24-regular" class="size-8 text-neutral-600"/>
        <div class="text-neutral-500">{{ 'admin.dashboard.widgets.latestPublications.noPublications' | transloco }}</div>
      </div>
    }
  </ngs-card-content>
</ngs-card>
