<ngs-panel>
  <ngs-panel-header class="h-16 px-6 border-b border-b-border">
    <div class="flex h-full items-center justify-between">
      <h1 class="font-bold">{{ 'myProfile.heading.dangerZone' | transloco }}</h1>
    </div>
  </ngs-panel-header>
  <ngs-panel-content>
    <ngs-scrollbar-area>
      <div class="p-12">
        <div class="space-y-11">
          <div class="relative group">
            <div class="flex items-center justify-between gap-14 text-sm">
              <div>
                <div>{{ 'studio.dangerZone.deactivateMyAccount' | transloco }}</div>
                <div class="mt-2 text-neutral-500">
                  {{ 'studio.dangerZone.deactivateMyAccountDesc' | transloco }}.
                </div>
              </div>
              <button ngsButton="outlined" (click)="deactivateAccount()">{{ 'deactivate' | transloco }}</button>
            </div>
          </div>
          <ngs-divider/>
          <div class="relative group">
            <div class="flex items-center justify-between gap-14 text-sm">
              <div>
                <div>{{ 'studio.dangerZone.deleteAccount' | transloco }}</div>
                <div class="mt-2 text-neutral-500">
                  {{ 'studio.dangerZone.deleteAccountDesc' | transloco }}.
                </div>
              </div>
              <button ngsButton (click)="deleteAccount()">
                <span class="text-error">{{ 'delete' | transloco }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ngs-scrollbar-area>
  </ngs-panel-content>
</ngs-panel>
