@if (!loaded() && !loadingError()) {
  <div class="p-6 text-center">Loading…</div>
} @else if (loadingError()) {
  <div class="p-6 text-red-600 text-center">{{ loadingError() }}</div>
} @else if (rootThread()) {
  <div class="p-4 md:p-6 lg:p-8 max-w-4xl mx-auto flex flex-col gap-6">
    <div class="flex items-center gap-4">
      @if (rootThread()?.respondingToId) {
        <a [routerLink]="['/thread', rootThread()?.respondingToId]" ngsIconButton>
          <ngs-icon name="fluent:arrow-left-24-regular"/>
        </a>
      }
      <h1 class="text-2xl font-bold">Thread ({{ nestedRepliesCount() }})</h1>
    </div>
    <app-thread
      [thread]="rootThread()!"
      [reactions]="rootThread()!.reactions || []"
      [depth]="depth()"
      (deleted)="onThreadDeleted($event)"
    />
  </div>
} @else {
  <div class="p-6 text-center">No thread found.</div>
}
