<div class="flex items-center gap-2">
  <div class="text-sm">Pavel Salauyou</div>
  <div class="border border-border flex items-center border-neutral-900 dark:border-neutral-200 h-5 leading-3 px-2
                    rounded-full font-bold text-4xs uppercase text-neutral-500 dark:text-neutral-200">Free</div>
</div>
<div class="text-xs text-gray-500 mt-0.5 dark:text-gray-400">pavel.salauyou&#64;mail.com</div>
<div class="my-4">
  <ngs-divider/>
</div>
<div class="ms-auto flex items-center gap-2.5">
  <ngs-dicebear key="PS" image="https://avatar.iran.liara.run/public" class="size-12"/>
  <div class="flex items-center rounded-full p-1 gap-[0.5] bg-surface-container-low hover:text-on-surface">
    <button ngsIconButton ngsTooltip="Settings">
      <ngs-icon name="fluent:settings-24-regular"/>
    </button>
    <button ngsIconButton ngsTooltip="Payments">
      <ngs-icon name="fluent:payment-24-regular"/>
    </button>
    <button ngsIconButton ngsTooltip="Notifications">
      <ngs-icon name="fluent:alert-24-regular" ngsBadge="3"/>
    </button>
    <button ngsIconButton ngsTooltip="Logout">
      <ngs-icon name="fluent:arrow-exit-24-regular"></ngs-icon>
    </button>
  </div>
</div>
