<div ngs-dialog-title>{{ 'admin.settings.ads.google.title' | transloco }}</div>
<ngs-dialog-content>
  <form [formGroup]="form">
    <div class="space-y-3 mt-2">
      <ngs-form-field class="w-full">
        <ngs-label>{{ 'admin.settings.ads.google.pubId' | transloco }}</ngs-label>
        <input type="text" ngsInput formControlName="googleAdsensePubId">
        <!--        <ngs-hint>-->
        <!--          -->
        <!--        </ngs-hint>-->
      </ngs-form-field>
      <div class="mt-3">
        <ngs-slide-toggle formControlName="isEnabled">{{ 'common.enabled' | transloco }}</ngs-slide-toggle>
      </div>
    </div>
  </form>
</ngs-dialog-content>
<ngs-dialog-actions align="end">
  <button ngsButton (click)="cancel()">{{ 'common.cancel' | transloco }}</button>
  <button type="submit" ngsButton="filled" [disabled]="form.invalid" (click)="apply()">
    {{ 'common.save' | transloco }}
  </button>
</ngs-dialog-actions>
