<a routerLink="/" class="text-2xl font-bold absolute top-7 start-7 z-1">
  <app-logo/>
</a>
<div class="form-container min-h-screen flex flex-col justify-center items-center p-5">
  <ngs-card appearance="filled">
    <div class="p-12">
      <h1 class="text-center text-3xl font-bold">{{ 'passwordRestored.title' | transloco }}</h1>
      <p class="mt-4 text-center text-neutral-500 text-sm mb-4">
        {{ 'passwordRestored.text' | transloco }}
      </p>
      <a routerLink="/login" ngsButton="filled" fullWidth class="!h-12 mt-4 w-full mx-auto">{{ 'login.login' | transloco }}</a>
    </div>
  </ngs-card>
</div>
