<ngs-skeleton direction="col" class="w-full">
  <div class="p-6 shadow-sm h-full bg-surface-container-lowest rounded-2xl">
    <div class="flex gap-6">
      <ngs-skeleton class="size-32"/>
      <div class="grow">
        <div class="flex items-center justify-between">
          <ngs-skeleton class="h-5 w-48"/>
          <ngs-skeleton class="w-24 h-10"/>
        </div>
        <div class="min-h-16 overflow-ellipsis overflow-hidden py-3 text-sm">
          <ngs-skeleton class="h-3.5 w-7/12"/>
          <ngs-skeleton class="h-3.5 mt-3"/>
          <ngs-skeleton class="h-3.5 w-8/12 mt-3"/>
        </div>
      </div>
    </div>
  </div>
</ngs-skeleton>
