<div class="flex flex-col gap-7">
  @for (item of displayItems(); track item.id) {
    @if (item) {
      @switch (item.targetType) {
        @case ('publication') {
          <app-publication [publication]="item.target"
                           [reactions]="reactions()[item.target.id] || []"
                           (deleted)="onItemDeleted($event, 'publication')"/>
        }
        @case ('tutorial') {
          <app-tutorial-preview [tutorial]="item.target"
                                [reactions]="reactions()[item.target.id] || []"
                                (deleted)="onItemDeleted($event, 'tutorial')"/>
        }
        @case ('thread') {
          <app-thread [thread]="item.target"
                      [reactions]="reactions()[item.target.id] || []"
                      (replyAdded)="onReplyAdded(item.target)"
                      (deleted)="onItemDeleted($event, 'thread')"/>
        }
      }
    }
  }
</div>
