<a routerLink="/" class="text-2xl font-bold absolute top-7 start-7 z-1">
  <app-logo/>
</a>
<div class="form-container min-h-screen flex flex-col justify-center items-center p-5">
  <ngs-card appearance="filled">
    <div class="p-12">
      <h1 class="text-center text-3xl font-bold whitespace-nowrap">
        {{ 'passwordReset.heading' | transloco }}
      </h1>
      <p class="mt-3 text-center text-neutral-500 text-sm">
        {{ 'passwordVerification.sentCodeTo' | transloco }}
        <span class="text-primary">{{ email() }}</span>.
      </p>
      <div class="w-[420px]">
        @if (showError()) {
          <div class="rounded-xl bg-red-100 p-5 mt-6 text-sm">
            {{ 'passwordVerification.errorWrongCode' | transloco }}
          </div>
        }

        <form class="flex flex-col pt-3 md:pt-8" [formGroup]="form">
          <ngs-pin-input placeholder="⚬" length="6" formControlName="code"/>
          <button ngsButton="filled" fullWidth type="button"
                  class="!h-12 mt-8" (click)="check()"
                  [disabled]="form.invalid || loading()">{{ 'passwordVerification.continue' | transloco }}</button>
        </form>
      </div>
    </div>
  </ngs-card>
  <div class="py-7 w-[420px] text-center flex items-center justify-between">
    <a routerLink="/login" class="whitespace-nowrap text-xs font-medium text-neutral-500 dark:text-neutral-300
                                             hover:text-primary dark:hover:text-accent inline-flex items-center">
      <ngs-icon name="fluent:arrow-left-24-regular"/> {{ 'forgotPassword.backToLoginPage' | transloco }}
    </a>
    <p class="whitespace-nowrap text-xs">
      <span class="inline-block me-2 text-neutral-600 dark:text-neutral-400">{{ 'email.verification.didntReceiveEmail' | transloco }}</span>
      <button class="underline-offset-4 font-semibold hover:text-primary
                     underline cursor-pointer" (click)="resendCode()">
        {{ 'email.verification.clickToResend' | transloco }}
      </button>
    </p>
  </div>
</div>
