@if (score() !== null) {
  <div class="flex items-center gap-2 overflow-hidden">
    <div
      class="size-4 rounded-full shrink-0"
      [style.background-color]="indicatorColor()"
    ></div>
    <div class="flex items-center gap-1 leading-tight min-w-0">
      <span class="text-sm font-medium truncate">{{ description() }}</span>
      <span class="text-xs text-neutral-500">{{ score() | number: '1.0-0' }}%</span>
    </div>
  </div>
} @else {
  <span class="text-xs text-muted-foreground">—</span>
}
