<a routerLink="/" class="text-2xl font-bold absolute top-7 start-7 z-1">
  <app-logo/>
</a>
<div class="form-container min-h-screen flex flex-col justify-center items-center p-5">
  <ngs-card appearance="filled">
    <div class="p-12">
      <h1 class="text-center text-3xl font-bold whitespace-nowrap">
        {{ 'forgotPassword.title' | transloco }}?
      </h1>
      <p class="mt-2 text-center text-neutral-500 text-sm">
        {{ 'forgotPassword.description' | transloco }}
      </p>
      <div class="w-[420px]">
        @if (showError()) {
          <div class="rounded-xl bg-red-100 p-5 mt-6 text-sm">
            {{ 'forgotPassword.errorWrongEmail' | transloco }}.
          </div>
        }

        <form class="flex flex-col pt-8" [formGroup]="form" (submit)="resetPassword()">
          <ngs-form-field>
            <ngs-label>{{ 'forgotPassword.email' | transloco }}</ngs-label>
            <input type="email" ngsInput formControlName="email">
          </ngs-form-field>

          @if (isRecaptcha()) {
            <div class="mt-4 text-[10px] text-neutral-500 leading-tight">
              {{ 'registration.protectedByRecaptcha' | transloco }}
              <a href="https://policies.google.com/privacy" target="_blank" class="underline">Privacy Policy</a>
              {{ 'registration.and' | transloco }}
              <a href="https://policies.google.com/terms" target="_blank" class="underline">Terms of Service</a>
              {{ 'registration.apply' | transloco }}
            </div>
          }

          <button ngsButton="filled" fullWidth type="submit" class="!h-12 mt-4"
                  [disabled]="form.invalid || loading()">
            {{ 'forgotPassword.resetPassword' | transloco }}
          </button>
        </form>
      </div>
    </div>
  </ngs-card>
</div>
