<ngs-skeleton direction="col" class="shadow-sm w-full rounded-2xl bg-surface-container-lowest overflow-hidden">
  <div
    class="hidden md:flex items-center justify-center h-[360px] relative max-h-[360px] overflow-hidden">
    <ngs-skeleton class="h-full rounded-b-none"/>
  </div>
  <div class="px-9 pt-9 pb-6">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-3">
        <ngs-skeleton class="size-10"/>
        <div>
          <ngs-skeleton class="w-28 h-4"/>
          <ngs-skeleton class="w-20 h-2.5 mt-2"/>
        </div>
      </div>
      <div class="flex items-center gap-3">
        <ngs-skeleton class="h-10 w-28"/>
      </div>
    </div>
    <div class="my-10">
      <ngs-skeleton class="h-7"/>
      <ngs-skeleton class="h-4 mt-3 w-8/12"/>
    </div>
    <div class="flex items-center justify-between mt-4">
      <div class="flex items-center gap-3 relative">
        <ngs-skeleton class="h-7 w-24 me-3"/>
        <div class="flex items-center gap-4">
          <ngs-skeleton class="size-4"/>
          <ngs-divider vertical/>
          <ngs-skeleton class="size-4"/>
        </div>
      </div>
      <div class="flex items-center gap-3 relative">
        <ngs-skeleton class="w-14 h-4"/>
        <ngs-skeleton class="size-10"/>
      </div>
    </div>
  </div>
</ngs-skeleton>
