<div class="flex flex-col gap-10">
  @for (module of course().modules; track module; let index = $index) {
    <div class="card-container px-7 pt-4 pb-5">
      @if (module.loading) {
        <ngs-skeleton>
          <ngs-skeleton class="h-10"/>
        </ngs-skeleton>
      } @else {
        <div class="flex items-center justify-between mb-3">
          <div class="grow pe-7">
            <h3 class="text-xl font-semibold leading-[2]" ngs-inline-text-edit
                (changed)="onModuleNameChanged($event, module.id)">{{ module.name }}</h3>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          @for (item of module.items; track item; let index = $index) {
            @if (item.loading) {
              <ngs-skeleton>
                <ngs-skeleton class="h-14"/>
              </ngs-skeleton>
            } @else {
              @switch (item.type) {
                @case ('lesson') {
                  <div class="bg-surface-container-low rounded-3xl px-5 py-3 flex items-center justify-between gap-3">
                    <ngs-inline-text-edit class="grow leading-[2]" (changed)="onLessonNameChanged($event, item.lesson.id)">
                      {{ item.lesson.name }}
                    </ngs-inline-text-edit>
                    <div class="flex items-center justify-between -me-2">
                      <a [routerLink]="lessonUrl(item.lesson)" ngsButton>Edit</a>
                      <button ngsButton>
                        <ngs-icon name="fluent:delete-24-regular"/>
                      </button>
                    </div>
                  </div>
                }
                @case ('quiz') {
                  <div class="bg-surface-container-low rounded-3xl px-5 py-3 flex items-center justify-between gap-3">
                    <ngs-inline-text-edit class="grow leading-[2]" (changed)="onQuizNameChanged($event, item.quiz.id)">
                      {{ item.quiz.name }}
                    </ngs-inline-text-edit>
                    <div class="flex items-center justify-between -me-2">
                      <a [routerLink]="quizUrl(item.quiz)" ngsButton>Edit</a>
                      <button ngsButton>
                        <ngs-icon name="fluent:delete-24-regular"/>
                      </button>
                    </div>
                  </div>
                }
              }
            }
          } @empty {
            <div class="text-sm text-neutral-600">
              There are no lessons yet.
            </div>
          }
        </div>
        <div class="mt-7 border-t border-t-default pt-5">
          <div class="flex items-center gap-3">
            <button ngsButton="tonal" (click)="addLesson(module)">Add Lesson</button>
            <button ngsButton="tonal" (click)="addQuiz(module)">Add Quiz</button>
            <button ngsButton>
              <ngs-icon name="fluent:arrow-down-24-regular"/>
            </button>
            <button ngsButton>
              <ngs-icon name="fluent:arrow-up-24-regular"/>
            </button>
            <button ngsButton class="ms-auto">
              <ngs-icon name="fluent:delete-24-regular"/>
            </button>
          </div>
        </div>
      }
    </div>
  } @empty {
    <div class="text-sm text-neutral-600">There are no modules yet.</div>
  }
  <div>
    <button ngsButton="filled" (click)="newModule()">Add Module</button>
  </div>
</div>
