<h3 class="font-bold text-xl">
  {{ 'commentList.title' | transloco }}
  ({{ commentsLength() }})
</h3>
<div class="min-h-16 mt-10">
  @defer {
    <app-comment-editor (sent)="onSent($event)"/>
  } @placeholder (minimum 1s) {
    <div class="flex gap-3 w-full">
      <ngs-skeleton class="size-9"/>
      <div class="grow">
        <ngs-skeleton class="h-16"/>
      </div>
    </div>
  }
</div>
<div class="mt-7 space-y-5">
  @if (loaded()) {
    @for (comment of comments(); track comment) {
      <app-comment [id]="'comment-' + comment.id"
                   [comment]="comment"
                   [threadCommentsDepth]="threadCommentsDepth()"
                   [depth]="depth + 1"
                   [targetId]="targetId()" [targetType]="targetType()"
                   (replyAdded)="onReplyAdded()"/>
    } @empty {
      <div class="text-sm text-neutral-500 text-center">{{ 'commentList.noComments' | transloco }}.</div>
    }
  } @else {
    <div class="text-sm">Loading Comments...</div>
  }
</div>
